<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h1 th:text="${count !=null}? ${count} + 'Result(s)' : ''"></h1>
    <span th:each="job : ${jobs}">
        <table class="job-listing">
            <tr th:each="item : ${job}">
                <th th:text="${#strings.capitalizeWords(item.key)} + ':'"></th>
            <td th:text="${item.value}"></td>
            </tr>
        </table>

    </span>
    
</div>

</body>
</html>